/* .main-section{
    width: 100%;
    height: 100vh;
    background: url('../../../../assets/background-images/main-section.png');
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}


@media (max-width:880px){
    .main-section{
        width: 80%;
    }

} */


.main-section {

    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}

.main-section img{
    max-width: 100%;
    height: auto;
}
