*{
    margin: 0;
    padding: 0;
}

.header{
    max-width: 1920px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.093);
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(0, 0, 0);
    padding-top: 20px;
}

.header .logo .inner-logo{
    color: rgb(0, 0, 0);
    font-size: 23px;
    text-decoration: none;
    list-style: none;
}

.profile-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
}

.nav ul{
    display: flex;
}
.nav ul li{
    font-size: 17px;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;

}



.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    padding: 10px 0;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* search bar */

.search-bar{
    width: 200px;
    height: 25px;
    position: relative;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.525);
    border-radius: 2px;
}
.inner-search-bar{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    width: 100%;
}
.inner-search-bar input{
    position: absolute;
    left: 0;
    width:70%;
    height: 70%;
    border: none;
    padding-left: 5px;
    border-radius: 5px;
    outline: none;
}

.inner-search-bar img{
    width: 19px;
    height: 19px;
    padding:4px 2px;
}  
.signout{
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.cart{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.signout button{
    border: 1px solid rgba(0, 0, 0, 0.525);
    cursor: pointer;
    width: 70px;
    background:none;
    height: 25px;
    border-radius: 2px;
}
.mobile-btn{
    display: none;
 }
 .mobile-navbar-inner{
    display: none;
}

body{
    overflow-y: scroll;
}
@media (max-width:845px){
    .header .row .nav{
        display: none;
    }
    .mobile-btn img{
        display: block;
        width: 25px;
        height: 15px;
        cursor: pointer;
    }
    .mobile-btn{
        order: -1;
        display: block;

    }
    .mobile-navbar-inner{
        display: inline-block;
        z-index: 12;
        position: fixed;
        left: 0;
        top: 112px;
        width: 400px;
        background-color: rgb(255, 255, 255);
        height: 100vh;
        border-top: 1px solid rgb(237, 237, 237);
    }
}
.mobile-navbar-inner .nav ul li{
      display: block;
      margin: 50px;
}

.mobile-navbar-inner .nav ul {
    display: block;
}