.variant{
    width: 80px;
    height: 80px;
    margin: 5px;
}

.variant img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.variants{
    display: flex;
    flex-wrap: wrap;
}
.variant-text{
    display: inline-block;
}