.other-photos{
    display: flex;
    flex-direction: column;
}
.col{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.col .main-photo img{
    width: 350px;
    height: 400px;
}
.other-photos img{
    width: 120px;
    height: 120px;
    margin: 5px;
}

.variant{
    width: 80px;
    height: 80px;
    margin: 5px;
}

.variant img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.variants{
    display: flex;
    flex-wrap: wrap;
}
.variant-text{
    display: inline-block;
}