.payment-form {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    font-family: "Arial", sans-serif;
  }
  
  .payment-form h2 {
    text-align: start;
    margin-bottom: 20px;
    color: #333;
  }
  
  .payment-method {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
    gap: 10px;
  }
  
  .payment-method label {
    font-size: 16px;
    color: #555;
    cursor: pointer;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  .form-group:last-child{
    margin-left: 5px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  .form-group input:focus {
    border-color: #000000;
    box-shadow: inset 1px 1px 8px rgba(0, 123, 255, 0.2);
  }
  
  .form-row {
    display: flex;
    gap: 15px;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #000000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .submit-button:hover {
    background: #000000;
  }
  