.product-card {
    width: 320px;
    height: 460px;
    margin: 20px; 
    color: #333; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Balance spacing between elements */
    box-shadow: 0px 0px 1px rgba(110, 110, 110, 0.1); /* Soft shadow for depth */
    overflow: hidden; /* Ensures content stays within bounds */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effects */
}
.product-card:hover {
    transform: translateY(-2px); /* Slight lift effect on hover */
}

.product-card img{
    width: 90%;
    height: 300px;
    margin: 0 auto;
    cursor: pointer;

}
.price-add-cart-btn{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    align-items: center;
    max-width: 290px;

}
.price-add-cart-btn p{
    font-size: 30px;
    margin-left: 5px;
}
.product-details{
    max-width: 300px;
    margin-left: 15px;
}

.rating{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

.product-card .rating .star{
    width: 25px;
    display: inline-block;
    height: 25px;
}

.rating p{
    font-size: 15px;
}